<mat-toolbar color="primary">
    <span><a routerLink="login">Home Oficce</a></span>
    <span><a routerLink="login">Gamer</a></span>
    <span><a routerLink="login">Mobile</a></span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
